/*text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF*/

body{
  font-family: "PT Sans", sans-serif;
}

header{
  display: inline-grid;
  grid-template-columns: 120px auto;
  width: 100%;
  background-color: #F5005B;
}

#logo{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#logo img{
  width: 85px;
  height: 95px;
  padding: 10px;
}

nav{
  text-align: center;
  margin-left: inherit;
  font-size: 10pt;
  background-color: #7DDFE8;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
  background-color: #7DDFE8;
}

.home-item{
  background-color: #00A5BF;
}

.calendar-item{
  background-color: #00B7D3;
}

.join-item{
  background-color: #00D5E7;
}


#title-top{
  color: #0B1942;
  font-weight: normal;
  margin: 25px;
}

#profile, #preferences{
  margin: 25px;
}

#profile-placeholder{
  height: 325px;
  width: 325px;
  border-radius: 50% 50%;
  background-position:center;
  align-self: center;
}

#name-email input{
  width: 100%;
  height: 20px;
}

#password input{
  width: 100%;
  height: 20px;
}

#genres{
list-style: none;
}

textarea{
  width: 100%;
}

button{
  background-color: #F5005B;
  color: white;
  font-weight: lighter;
  padding: 12px;
  border-radius: 1px 1px;
  border-style: solid;
  border-color: #F5005B;
}

footer{
  color: #FFFFFF;
  background-color: #7DDFE8;
  margin: 0;
  text-align: center;
  margin-left: inherit;
  font-size: 10pt;
  padding: 30px;
}

/*============TABLET STYLE============*/
@media screen and ( min-width: 545px ){
  nav ul{
    overflow: visible;
  }

  nav li{
    float: left;
    height: 100%;
    display: flex;
    flex-flow: row;
  }

  nav li a{
    padding: 49px 0px 49px 0px;
    width: 120px;
    font-size: 14pt;
  }

  footer{
    height: 59px;
    text-align: right;
  }

  footer div{
    transform: translate(2%,150%);
  }

  #profile{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #input-fields{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  #name-email input{
    width: 315px;
    height: 20px;
  }

  #password input{
    width: 315px;
    height: 20px;
  }

  #genres{

    }
  }
}



/*===============DESKTOP STYLE=============*/
