/*text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF*/

body{
  font-family: "PT Sans", sans-serif;
  font-size: 10vmax 2vmin;
}

header{
  display: inline-grid;
  grid-template-columns: 120px auto;
  width: 100%;
  background-color: #F5005B;
}

#logo{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#logo img{
  width: 85px;
  height: 95px;
  padding: 10px;
}

nav{
  text-align: center;
  margin-left: inherit;
  font-size: 10pt;
  background-color: #7DDFE8;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #7DDFE8;
}

.home-item{
  background-color: #00A5BF;
}

.calendar-item{
  background-color: #00B7D3;
}

.join-item{
  background-color: #00D5E7;
}

#home-top{
  margin: 25px;
  color: #0B1942;
}

#title-top{
  color: #0B1942;
  font-weight: normal;
  margin: 25px 25px 0px 25px;
}

h2{
  background-color: #0B1942;
  color: white;
  font-weight: normal;
  padding: 8px;
}

/*Bottom half of page*/

#home-bottom{
  padding: 25px;
  background-color: #0B1942;
  color: white;
}

#title-bottom{
  font-weight: normal;
}

.posters{
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  /*this may or may not be right so come back here if it's wrong*/
}

.posters, #discussion{
  color: #0B1942;
  background-color: #E2E2E2;
  padding: 10px;
}

#next img{
  max-width: 100%;
  height: auto;
}

#next{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#upcoming img{
  height: 200px;
  width: 140px;
}

#upcoming{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.posters a{
  color: #00B7D3;
  text-decoration: underline;
  font-size: 12pt;
}

#discussion a{
  color: #00B7D3;
  text-decoration: underline;
  font-size: 18pt;
}

#menu-bottom ul{
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

footer{
  color: #FFFFFF;
  background-color: #7DDFE8;
  margin: 0;
  text-align: center;
  margin-left: inherit;
  font-size: 10pt;
  padding: 30px;
}


/*============TABLET STYLE============*/
@media screen and ( min-width: 545px ){
  nav ul{
    overflow: visible;
  }

  nav li{
    float: left;
    height: 100%;
    display: flex;
    flex-flow: row;
  }

  nav li a{
    padding: 49px 0px 49px 0px;
    width: 120px;
    font-size: 14pt;
  }

  footer{
    height: 59px;
    text-align: right;
  }

  footer div{
    transform: translate(2%,150%);
  }

  #home-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .home-text{
    padding-right: 25px;
    width: 600px;
  }

  #upcoming{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}



/*===============DESKTOP STYLE=============*/
@media screen and ( min-width: 769px ){
  #upcoming{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #next, #upcoming{
    width: calc(100vw / 2);
  }

  #next{
    margin-right: 2.5%;
    height: 260px;
  }

  #all-movies{
    display: flex;
    flex-flow: row nowrap;
  }
}
